[Unit]
Description=Cthulhu uWSGI instance
After=network.target

[Service]
Environment=SESSION_TYPE=redis SESSION_REDIS=redis://127.0.0.1:6379
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Cthulhu-Streaming-Proxy
ExecStart=/home/ubuntu/.local/bin/uwsgi --ini cthulhu.ini

[Install]
WantedBy=multi-user.target