[Unit]
Description=Cthulhu uWSGI instance
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Cthulhu-Streaming-Proxy
ExecStart=/home/ubuntu/.local/bin/uwsgi --ini cthulhu.ini

[Install]
WantedBy=multi-user.target